@charset "UTF-8";

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #cbd6e9;
}

.content {
    padding: 1rem;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .content {
        max-width: 768px;
        margin: 0 auto;
        height: 1rem auto;
        border-radius: 1rem;
    }
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        margin: 0 auto;
        height: 1rem auto;
        border-radius: 1rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}